h1{
    color: blue;
    font-family:serif;
    background-color: lightgray;
}
.img_favicon{
    width: 32px;
    height: 32px;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}
a{
    color: green;
    text-decoration: none;
}
.content{
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}